/* PAGE UTILITES CLASS */

/* for href Links */
p.href-link a {
	color: #ff6600;
	text-decoration: none;
}

p.href-link a::after {
	/* display chevron right icon after link */
	font-family: FontAwesome;
  content: " \f054";
}

p.href-link a:hover {
	color: #F39C12;
}



/* =============================================== */



/* ACCESSORIES PAGE */
#accessories h1 {
	font-size: 36px;
	margin-bottom: 3rem;
}

#accessories a {
	color: #F39C12;
}

#accessories a::after {
	font-family: FontAwesome;
  content: " \f054";
}

#accessories a:hover {
	color: #ff6600;
	text-decoration: none;
}

#accessories .card .card-img-top {
	height: auto;
	padding: 1.25rem;
}

/* VIDEOS PAGE */
#videos h1 {
	font-size: 36px;
	margin-bottom: 3rem;
}

#videos .card .card-body .embed-container {
	position: relative; 
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

#videos .card .card-body .embed-container iframe,
#videos .card .card-body .embed-container object,
#videos .card .card-body .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/* CLICKER PARTS PAGE */
#cp-parts h1 {
	margin: 2rem 0;
	font-size: 36px;
}

#cp-parts ul {
	margin: 0;
	padding: 0;
}

#cp-parts ul li {
	padding-bottom: 0.25rem;
}

#cp-parts ul li a {
	color: #F39C12;
	font-size: 1rem;
}

#cp-parts .card .card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#cp-parts .card .card-body .card-heading {
	text-align: center;
}

#cp-parts .card .card-body .card-heading img {
	width: auto;
  height: 125px;
}

#cp-parts .card .card-body .card-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#cp-parts .card .card-body .card-text .card-text-features ul {
	margin: 0;
	padding: 1.25rem 0;

	text-align: center;
	font-size: 0.9rem;
}

#cp-parts .card .card-cta {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}



/* CUTTING BOARDS PAGE */
#cutting-boards h1 {
	font-size: 36px;
	margin-bottom: 3rem;
}

#cutting-boards table th,
#cutting-boards table td {
	border: 1px solid #dddddd;
	padding: 1rem;
	/* border: none; */
}

#cutting-boards table tr:first-child td {
	background-color: #dff0d8;
	color: #417c25;
	text-align: center;
}

#cutting-boards table tr:nth-child(even) {
	background-color: #f9f9f9;	
	color: #333333;
}

#cutting-boards table tr:not(:first-child) td:nth-child(3),
#cutting-boards table tr:not(:first-child) td:nth-child(4),
#cutting-boards table tr:not(:first-child) td:nth-child(5),
#cutting-boards table tr:not(:first-child) td:nth-child(6) {
	text-align: right;
}	



/* ATOM PRESS PARTS PAGE */
/* #atom-press-parts h1 {
	margin: 2rem 0;
	font-size: 36px;
	text-align: center;
}

#atom-press-parts .row.d-flex {
	align-items: center;
}

#atom-press-parts .col-md-5.d-flex {
	justify-content: center;
	margin-top: 3rem;
} */



/* CHINA STEEL PAGE */
#china-steel h1 {
	margin: 2rem 0;
	font-size: 36px;
	text-align: center;
}

#china-steel h2 {
	font-size: 28px;
	text-align: center;
}


/* WARRANTY PAGE */
#warranty h1 {
	/* margin: 2rem 0; */
	font-size: 36px;
	text-align: center;
}

#warranty ul {
	margin: 0;
	padding: 0;
}

#warranty ul li {
	padding-bottom: 0.5rem;
}

#warranty ul li a {
	color: #F39C12;
	font-size: 1rem;
}

@media screen and (max-width: 768px) {
	#warranty .row .col-md-4 {
		order: 2;

		margin-top: 2rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	#warranty .row .col-md-4 img {
		width: 50%;
	}

	#warranty .row .col-md-8 {
		order: 1;
	}
}



/* USED CLICKER PRESS PAGE */
#used-clicker-press .info-1 h1 {
	margin: 2rem 0;
	font-size: 36px;
	text-align: center;
}

#used-clicker-press .info-1 .row.d-flex {
	align-items: center;
}

#used-clicker-press .info-1 .col-md-5.d-flex {
	justify-content: center;
	margin: 3rem 0;
}

#used-clicker-press .info-2 {
	background-color: #e5e5e5;
}

#used-clicker-press .info-2 h2 {
	font-size: 28px;
	text-align: center;
}

#used-clicker-press .info-2 .img-fluid {
	margin: 0 auto;
}

#used-clicker-press .cta-strip {
	background-color: rgb(255, 88, 41);
	color: #ffffff;
}

#used-clicker-press .cta-strip .container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#used-clicker-press .cta-strip .container h2 {
  margin: 0;
  font-size: 28px;
}

#used-clicker-press .cta-strip .container a {
  color: #ffffff;
  font-size: 18px;
}

#used-clicker-press .cta-strip .container .btn-cta-strip {
  display: inline-block;
  border: 2px solid #ffffff;
  padding: 15px 30px;
  margin-left: 30px;
}



/* TYPES OF DIES PAGE */
#types-of-dies h1 {
	margin: 2rem 0;
	font-size: 36px;
}

#types-of-dies .card .card-img-top {
	width: 100%;
	height: 40vh;
	object-fit: contain;
	padding: 1rem;
}

#types-of-dies .card .card-body h2 {
	font-size: 28px;
}



/* DIE DRAWINGS PAGE */
#die-drawings h1 {
	font-size: 36px;
}

#die-drawings h2 {
	font-size: 28px;
}

#die-drawings h4 {
	font-size: 18px;
}

#die-drawings .drawing-design .row.d-flex {
	align-items: center;
}

@media screen and (max-width: 768px) {
	#die-drawings .col-md-6.col-img {
		order: 2;
	}

	#die-drawings .col-md-6.col-text {
		order: 1;
		margin-bottom: 2rem;
	}
}

#die-drawings .clicker-die ul {
	margin: 0;
	padding: 0;
}

#die-drawings .clicker-die ul li a {
	color: rgb(255, 88, 41);
	font-size: 1rem;
}

#die-drawings .cta-strip {
	background-color: #ff6600;
	color: #ffffff;
}

#die-drawings .cta-strip .container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#die-drawings .cta-strip .container h2 {
  margin: 0;
  font-size: 28px;
}

#die-drawings .cta-strip .container a {
  color: #ffffff;
  font-size: 18px;
}

#die-drawings .cta-strip .container .btn-cta-strip {
  display: inline-block;
  border: 2px solid #ffffff;
  padding: 15px 30px;
  margin-left: 30px;
}



/* DIE SIZE PAGE */
#die-size h1 {
	margin: 2rem 0;
	font-size: 36px;
}



/* DIE BEVEL PAGE */
#die-bevel h1 {
	margin: 2rem 0;
	font-size: 36px;
}

#die-bevel .img-container {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

#die-bevel a {
	color: #ff6600;
}



/* REGISTRATION PINS PAGE */
#registration-pins h1 {
	margin: 2rem 0;
	font-size: 36px;
}

#registration-pins h4 {
	font-size: 18px;
}



/* STEEL RULE DEPTH PAGE */
#steel-rule-depth h1 {
	margin: 2rem 0;
	font-size: 36px;
}



/* STEEL RULE DIES PAGE */
#steel-rule-dies h1 {
	margin: 2rem 0;
	font-size: 36px;
}

#steel-rule-dies h4 {
	font-size: 18px;
}



/* STEEL RULE DIES PAGE */
#welded-rule h1 {
	margin: 2rem 0;
	font-size: 36px;
}



/* EJECTION OPTIONS PAGE */
#ejection-options h1 {
	margin: 2rem 0;
	font-size: 36px;
}



/* DIE MAKERS PAGE */
#die-makers h1 {
	margin: 2rem 0;
	font-size: 36px;
}

#die-makers h4 {
	font-size: 18px;
}

#die-makers a {
	color: #ff6600;
}

#die-makers table td {
	border: 1px solid #cccccc;
	font-size: 14px;
	text-align: center;
}



/* DIE MAINTENANCE PAGE */
#die-maintenance h1 {
	margin: 2rem 0;
	font-size: 36px;
}



/* DIE CUT TESTING PAGE */
#die-cut-testing h1 {
	margin: 2rem 0;
	font-size: 36px;
}

#die-cut-testing h2 {
	font-size: 28px;
}



/* CLICKER PRESS SHIPPING PAGE */
#clicker-press-shipping h1 {
	margin: 2rem 0;
	font-size: 36px;
}

#clicker-press-shipping h2 {
	font-size: 28px;
}

#clicker-press-shipping h4 {
	font-size: 18px;
}

#clicker-press-shipping h5 {
	font-size: 16px;
	margin: 0;
} 

#clicker-press-shipping .shipping-content-2 .row {
	display: flex;
	align-items: center;
	
}

#clicker-press-shipping .shipping-content-2 .row .col-md-3 {
	text-align: right;
	color: #ff6600;
}

#clicker-press-shipping .shipping-content-2 .row .col-md-9 {
	padding: 10px;
}

@media screen and (max-width: 768px) {
	#clicker-press-shipping .shipping-content-2 .row .col-md-3 {
		text-align: left;
		padding: 0 10px; 
	}

	#clicker-press-shipping .shipping-content-2 .row .col-md-9 {
		padding: 5px 10px;
		margin-bottom: 20px;
	}
}

#clicker-press-shipping .shipping-content-3 table {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

#clicker-press-shipping .shipping-content-3 table th,
#clicker-press-shipping .shipping-content-3 table td {
	border: 1px solid #cccccc;
}

#clicker-press-shipping .shipping-content-4 .card-header .card-link {
  display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	color: #ff6600;
}

#clicker-press-shipping .shipping-content-4 .card-header .card-link .card-title {
	margin: 0;
	flex: 3;
}

#clicker-press-shipping .shipping-content-4 .card-header .card-link .card-plus-minus {
	flex: 1;
	display: flex;
  justify-content: flex-end;
}

#clicker-press-shipping .shipping-content-4 .card-header .card-link .card-plus-minus::before {
  font-family: FontAwesome;
  content: "\f077";
}

#clicker-press-shipping .shipping-content-4 .card-header .card-link.collapsed .card-plus-minus::before {
  content: "\f078";
}


#clicker-press-shipping .shipping-content-5 .row {
	margin: 0;
}

#clicker-press-shipping .shipping-content-5 .col-md-6 .card {
	border: 0px;
	border-radius: 0px;
}

#clicker-press-shipping .shipping-content-5 .card .img-container {
	padding: 1rem;
	text-align: center;
	margin-bottom: 1rem;
}

#clicker-press-shipping .shipping-content-5 .card .img-container img {
	height: 100px;
	object-fit: contain;
}

#clicker-press-shipping .shipping-content-5 .card-body {
	margin: 0 auto;
	padding: 0;
}

#clicker-press-shipping .shipping-content-5 .card-text {
		padding: 0;
    margin-bottom: 2rem;
}

#clicker-press-shipping .shipping-content-5 .card-text li {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

#clicker-press-shipping .shipping-content-5 .card-text li .list-icon {
	margin-right: 10px;
	font-size: 20px;
	display: flex;
	width: 20px;
  justify-content: flex-end;
}

#clicker-press-shipping .shipping-content-5 .card-text li .list-info {
	line-height: 1.1;
	font-size: .85rem;
}

#clicker-press-shipping .shipping-content-5 .card-text li a {
	color: #000000;
	text-decoration: none;
	font-size: .85rem;
}



/* CUSTOMERS PAGE */
#customers h1 {
	margin: 2rem 0;
	font-size: 36px;
}

#customers h2 {
	font-size: 28px;
}

#customers .cta-strip {
	/* background-color: rgb(255, 88, 41); */
	background-color: #ff6600;
	color: #ffffff;
}

#customers .cta-strip .container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#customers .cta-strip .container h2 {
  margin: 0;
  font-size: 28px;
}

#customers .cta-strip .container a {
  color: #ffffff;
  font-size: 18px;
}

#customers .cta-strip .container .btn-cta-strip {
  display: inline-block;
  border: 2px solid #ffffff;
  padding: 15px 30px;
  margin-left: 30px;
}


/* CUSTOMER TEST PAGE */
#customer-tests h1 {
	margin: 2rem 0;
	font-size: 36px;
}

#customer-tests .embed-container {
	position: relative; 
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

#customer-tests .embed-container iframe,
#customer-tests .embed-container object,
#customer-tests .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/* TESTIMONIALS PAGE */
#testimonials h1 {
	margin-top: 2rem;
	font-size: 36px;
}

#testimonials h2 {
	font-size: 28px;
}

#testimonials h4 {
	font-size: 18px;
}

#testimonials h5 {
	font-size: 16px;
	margin: 0;
}

#testimonials h6 {
	font-size: 12px;
	margin: 0;
}

#testimonials p {
	font-size: 14px;
}


#testimonials .banner-testimonial p {
	font-size: 18px;
}

#testimonials .banner-testimonial .card {
	border: 0px;
	border-radius: 0px;
}


#testimonials .banner-testimonial .card .card-body {
	padding: 0 6rem 1.25rem;
}




#testimonials .client-name {
	color: #ff6600;
}

#testimonials .row {
	margin: 0;
}

#testimonials .col-md-6.col-lg-4 .card {
	border: 0px;
	border-radius: 0px;
}

#testimonials .card .img-container {
	padding: 1rem;
	text-align: center;
	/* margin-bottom: 1rem; */
}

#testimonials .card .img-container img {
	/* height: 100px; */
	object-fit: contain;
}

#testimonials .card-body {
	padding: 0 1.25rem 1.25rem;
}


#testimonials .card-body p.card-text.text-center::before {
  font-family: FontAwesome;
	content: "\f10d";
	color: #808080;
	font-size: 12px;
}

#testimonials .card-body p.card-text.text-center::after {
  font-family: FontAwesome;
	content: "\f10e";
	color: #808080;
	font-size: 12px;
}



/* ABOUT PAGE */
#about h1 {
	margin-top: 2rem;
	font-size: 36px;
}

#about h2 {
	font-size: 28px;
}

#about .lead {
	font-size: 28px;
	line-height: 1;
	font-weight: 500;
	font-style: italic;
	padding: 1.5rem;

	border-left: 5px solid #ffd700;
}

#about .section-difference {
	background-color: #ffffff;
	padding: 3rem 0;
}

#about .section-difference .orange {
	color: #ff6600;
}

#about .section-difference ul {
  list-style-type: none;
  margin-bottom: 30px;
  padding: 0;
}

#about .section-difference ul li {
  font-size: 20px;
	margin-bottom: 5px;
}

#about .section-difference ul li a {
	font-size: 20px;
}

#about .section-difference ul li::before {
	font-family: FontAwesome;
	content: '\f00c';
	font-size: 24px;
  font-style: normal;
  font-weight: normal;
  
	color: #ff6600;
	
	position: relative;
	top: 0;
	left: 0;

	margin-right: 5px;
}

#about .cta-strip {
	background-color: #ff6600;
	color: #ffffff;
}

#about .cta-strip .container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#about .cta-strip .container h2 {
  margin: 0;
  font-size: 28px;
}

#about .cta-strip .container a {
  color: #ffffff;
  font-size: 18px;
}

#about .cta-strip .container .btn-cta-strip {
  display: inline-block;
  border: 2px solid #ffffff;
  padding: 15px 30px;
  margin-left: 30px;
}



/* CONTACT PAGE */
/* #contact {
	background-color: #ffffff;
} */

#contact h1 {
	margin: 2rem;
	font-size: 36px;
}

#contact h2 {
	font-size: 28px;
}

#contact h3 {
	font-size: 24px;
}

#contact .card {
	background-color: #ff6600;
}

#contact .card h3,
#contact .card p {
	color: #ffffff;
}

#contact .card,
#contact .card h3,
#contact .card p {
	transition: ease-in-out 0.25s;
}

#contact .card:hover {
	background-color: #ffffff;	
}	

#contact .card:hover h3 {
	color: #000000;
}

#contact .card:hover p {
	color: #ff6600;
}

#contact .card p {
	font-size: 20px;
}

#contact .card a {
	text-decoration: none;
}



/* TRAINING PAGE */
#training h1 {
	margin: 2rem;
	font-size: 36px;
}



/* REFERRALS PAGE */
#referrals h1 {
	margin: 2rem;
	font-size: 36px;
}



/* FRANCHISE PAGE */
#franchise h1 {
	margin: 2rem;
	font-size: 36px;
}



/* FINANCE PAGE */
#finance h1 {
	font-size: 36px;
}



/* BUYBACK PAGE */
#buyback h1 {
	font-size: 36px;
}



/* TONNAGE FORMULA PAGE */
#tonnage-formula h1	{
	font-size: 36px;	
}

#tonnage-formula h2	{
	font-size: 28px;	
}

#tonnage-formula form .panel-container {
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 14px;
	padding: 30px 20px;
}



/* CUTTING PRESS LIST SECTION ON FOOTER */
#cutting-press-footer h2 {
  font-size: 28px;  
}

#cutting-press-footer h3 {
  font-size: 24px;  
}

#cutting-press-footer .press-list ul {
  list-style-type: none;
	margin: 0;
	padding: 0;
}

#cutting-press-footer .press-list ul li {
	line-height: 1.25;
	margin-bottom: .25rem;
}

#cutting-press-footer .press-list a {
  font-size: 14px;
	text-decoration: none;
	color: #337ab7;
	font-weight: 400;
}

#cutting-press-footer .banner {
  height: 70vh;
  position: relative;
  color: #ffffff;
}

#cutting-press-footer .banner .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  text-align: center;
}

#cutting-press-footer .banner .banner-content a {
  color: #f1c40f;
}